.heading .row h1{
  color: blue;
  text-align: center;
}

.heading .row h2{
  color: red;
  text-align: center;
}

.head-left-section {
  display: block;
}

.head-left-section a:link, a:visited {
  display: block;
  color: blue;
}

.login-area, .create-login-area{
  width: 300px;
  height: 100px;
  display: block;
}

.row h2{
  text-align: center;
}