.heading h1{
  color: blue;
  text-align: center;
}

.heading h2{
  color: red;
  text-align: center;
}

.body-container {
  display: block;
}

.body-container a:link, a:visited {
  color: blue;
}

.login-area, .create-login-area{
  width: 300px;
  height: 100px;
  display: block;
}

.row h2{
  text-align: center;
}