<html>
  <head>
    <title>Input Map</title>
    <meta name="viewport" content="initial-scale=1.0">
    <meta charset="utf-8">
    <style>
      /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
      #map {
        height: 65%;
        width: 50%;
      }
      /* Optional: Makes the sample page fill the window. */
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
    </style>
  </head>
  <body>
    <div id="center">
    <div id="gmap"></div>
    <div id="form">
      <form>
        Sign Type:<br>
        <input type="radio" name="signType" value="STOP"> STOP
        <input type="radio" name="signType" value="SPEED"> SPEED LIMIT
        <input type="radio" name="signType" value="STREET"> STREET SIGN <br>
        <br>
        Condition:<br>
        <input id="cond" type="text" name="condition" value="Describe the sign's condition">
        <br><br>
      </form>
      <button (click)="submitNewSign()" type="submit" class="btn btn-primary">Submit</button>
    </div>
    </div>
  </body>
</html>
