<h1>hello, index</h1>
<!-- <html>
    <head>
        <title>Fix It</title>
    </head>

    <body>
        <div class="heading">
            <div class="row">
                <div class="head-left-section col">
                    <h3>Head Left Section</h3>
                </div>

                <div class="head-main-section col-6">
                    <h1>Fix It</h1>
                    <h2>See a broken sign, post it here</h2>
                </div>

                <div class="head-right-section col">
                    <h3>Head Right Section</h3>
                </div>
            </div>
        </div>

        <div class="body-container">
            <div class="row">
                <div class="left-section" id="left-bar">
                    <button onclick="closeSideNav()" class="close "id="close-button" aria-label="Close">&times;</button>
                    <h2 style="color: white">Navigation</h2>
                    <a routerLink="/about">About</a>
                    <a href="main.html">FixIt Map</a>
                    <a [routerLink]="[]" (click)="goToLogin()">Login</a>
                    <a href="createUser.html">Create Account</a>
                </div>
                <button onclick="openSideNav()" id="open-button">Open</button>

                <div class="main-section col-8" id="mid-bar">
                    <h2>Main Section</h2>
                </div>

                <div class="right-section col" id="right-bar">
                    <h2>Right Section</h2>
                </div>
            </div>
        </div>
        <script src="../FixIt/FixIt/src/assets/index.js"></script>
    </body>
</html> -->