<div class="row" id="stuff">
    <div class="col">

    </div>
    <div class="col-8">
        <h3 style="text-align: center">FixIt Map Service</h3>

        <p>
            Welcome to the site for all your broken sign needs and whereabouts. On
            FixIt Map Service you can create an account to add other unknown broken
            signs, interact with other users, and see broken signs around you posted
            by other users. <br><br>Short Instructions: <br>1) To add a broken sign 
            near you, you must have a registered account. <br>2) Chat messages are 
            sent and recieved on the chat page. <br>3) When using the interactive map,
            make sure you drag the red marker to the location of where the broken sign
            is located. <br>4) Be sure to click the type of sign that is broken, there
            are 3 options you can select
        </p>
    </div>
    <div class="col">

    </div>
</div>
