<html>
    <head>
        <title>Login Page</title>
    </head>
    <body>
        <div class="row">
            <div class="loginUser-left col">
                <!-- left section -->
            </div>
            <div class="login-area col-6">
                <div class="login-section">
                    <form>
                        <div class="form-group">
                            <label for="inputUsername" class="col-sm-2 col-form-label">Username</label>
                            <input type="email" class="form-control" id="inputUsername" placeholder="Username">
                           
                        </div>
                        <div class="form-group">
                            <label for="inputPassword" class="col-sm-2 col-form-label">Password</label>
                            <input type="password" class="form-control" id="inputPassword" placeholder="Password">
                        </div>
                    </form>
                    <button (click)="submitUserInfo()" type="submit" class="btn btn-primary">Submit</button>                
                </div>
            </div>
            <div class="loginUser-right col">
                <!-- right section -->
            </div>
        </div>

        <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
        <script src="../../../node-stuff/login.js"></script>
        <script src="../../assets/login.js"></script>
    </body>
</html>