<header class="constHead">
    <h1>FixIt</h1>
    <h2>See a Broken Sign, Put it Here</h2>
</header>

<div class="navBar">
    <ul class="nav nav-pills">
        <li class="nav-item">
            <a class="nav-link" routerLink="" id="abt-link">About</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/fixit" id="fixit-link">FixIt Map</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/login" id="login-link">Login</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/create" id="create-link">Create User</a>
        </li>
        <li class="nav-item">
                <a class="nav-link" routerLink="/chat" id="chat-link">Chat</a>
            </li>
    </ul>

</div>